@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@using VFromCGetM.ViewModels
@model EmployeeListViewModel

     <hr />
      <div>
         <table>
            
            <tr>
                
                <th>Employee Name</th>
                
                <th>Salary</th>
               
            </tr>
                        @foreach(EmployeeViewModel item in Model.Employees)
                            {
                 < tr >
                  < td > @item.Salary </ td >
                  < td style = "background-color:@item.SalaryColor"> </ td >
                  </ tr >
                            }
            
        </table>
       
    </div>